@model CallTrakViewModel
@{
    ViewData["Title"] = "Dashboard";
}

<script src="https://kit.fontawesome.com/b7f176f682.js" crossorigin="anonymous"></script>

<div id="main_container">

    <h2 class="text-primary m-3 text-center">Dashboard</h2>

    <div class="row">
        <div class="col-sm-2">
            <form asp-action="Filter" method="post">
                <div class="form-group">
                    <label>Category:</label>
                    <select name="filter" class="form-control">
                    <option>1</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Due:</label>
                    <select name="filter" class="form-control">
                        <option>1</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Status:</label>
                    <select name="filter" class="form-control">
                        <option>1</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Filter</button>
                <a asp-action="Index" asp-route-id="" class="btn btn-primary">Clear</a>
            </form>
        </div>
        <div class="col-sm-10">

            <a asp-controller="Editor" asp-action="Add"><b>New CallTrak</b></a>

            <table class="table table-bordered table-striped mt-2">
                <thead>
                    <tr>
                        <th>CallTrak ID</th>
                        <th>Employee</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th class="w-25">Controls</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (CallTrak ct in Model.CallTraks)
                    {
                        <tr>
                            <td>@ct.CallTrakID</td>
                            <td>@ct.Employee.FirstName</td>
                            <td>@ct.Type.Description</td>
                            <td>@ct.Status.Description</td>
                            <td>
                                <form method="post"
                                  
                                  class="mr-2">

                                    <input type="hidden"
                                       name="" value="" />

                                    <a  asp-controller="Editor"
                                        asp-action="Index"
                                        asp-route-id="@ct.CallTrakID"
                                        class="btn btn-primary btn-sm">
                                        Edit
                                    </a>

                                    <button type="submit"
                                        class="btn btn-primary btn-sm">
                                        Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
        
</div><!--end Main container-->




